@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.content {
    min-height: 40rem;
    padding: 4rem 0 0 0;
}

.footer {
    text-align: center;
    background: #FFF;
}

.about-content {
    padding-top: 2rem;
}

.nav-bar {
    padding: 0 1rem;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav-bar-menu {
    line-height: 4rem;
}

.nav-bar-icon {
    text-align: right;
}

.error {
    padding: 2rem 2rem;
}

.fetching-weather-content {
    padding: 4rem 2rem;
}

.fetching-weather-spinner {
    padding-left: 0.5rem;
}

.current-weather-top {
    background: #FAFAFA;
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
}

.current-weather-location {
    padding: 1rem 2rem 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bolder;
}

.current-weather-sub-content {
    font-size: 0.8rem;
}

.forecast-summary {
    padding: 1rem 2rem;
}

.forecast-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.daily-forecast-item-wrapper {
    padding: 0.2rem 2rem;
}

.daily-forecast-item-font {
    font-size: 0.8rem;
}

.daily-forecast-item-column {
    text-align: center;
}

#weather-chart-wrapper {
    padding: 0 2rem
}

.weather-chart {
    height: 20rem;
    width: 50rem;
}

.units-dropdown {
    margin-left: 0.8rem;
}

::-webkit-scrollbar {
    height: 0.8rem;
    width: 0.8rem;
    background-color: #FAFAFA;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #A4A4A4;
}
