@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    height: 0.8rem;
    width: 0.8rem;
    background-color: #666666;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #A4A4A4;
}
