body {
    position: relative;
}

.shadow {
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 15px;
}

.active {
    font-weight: bold;
}

/*For D3 demo traffic*/
.link {
    stroke: #555;
}

.node text {
    fill: #000;
    cursor: pointer;
    font-size: 13px;
}

text, tspan {
    fill: #000;
    cursor: pointer;
    font-size: 12px;
}

text.axis-t {
    fill: #7dc7f4;
}

text.axis-p {
    fill: #A4A4A4;
}

rect.responseTimesChart, tspan.averageLabel {
    fill: #d75107;
}

rect.responseTimesChartMax, tspan.maxLabel {
    fill: rgba(215, 81, 7, 0.38);
}

text.responseTimesText {
    font-size: 13px;
}

.node circle, .nodeLegend circle {
    stroke-width: 5px;
    fill: #fff;
    stroke: #d16107
}

.node circle.DEBUG, .nodeLegend circle.DEBUG {
    stroke: #62679a
}

.node circle.INFO, .nodeLegend circle.INFO {
    stroke: #008376;
}

.node circle.WARN, .nodeLegend circle.WARN {
    stroke: #d1b948;
}

.node circle.ERROR, .nodeLegend circle.ERROR {
    stroke: #c10901;
}

circle.az-center {
    opacity: .0;
}

circle.az {
    stroke-width: 5px;
    opacity: .2;
    fill: #666;
    stroke: #666
}

.link.light {
    opacity: .0;
}

text.label.az {
    font-size: 20px;
}